<h3>Welcome to Twitterwhack! Please type 2 words for search!</h3>
<form action="/result" method="POST">
	word1:<input type="text" name="search1"/>
  word2:<input type="text" name="search2"/>
	<input type="submit" value="Submit" />
</form>
